<ion-view view-title="Picture Settings">
    <ion-content class="padding">
        <!--Flight Duration-->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Duration</span>
                <input type="number">
                <!--Picture Interval-->
            </label><label class="item item-input">
                <span class="input-label">Interval</span>
                <input type="number">
                <!--Photo Resloution-->
                <!--</label><label class="item item-input">
                <span class="input-label">Email</span>
                 <input type="number">>-->
                <!--Start Delay -->
            </label><label class="item item-input">
                <span class="input-label">Start Delay</span>
                <input type="number">
                <!--Email-->
            </label><label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email">
            </label>
            <!--<label class="item item-input">
            <textarea placeholder="Comments"></textarea>
        </label>-->
        </div>
    </ion-content>
      <button class="bar bar-footer bar-balanced" ng-click="StartPhotoTaking()">Start Flight</button>
</ion-view>
