<ion-view view-title="RC Controls">
    <ion-content class="has-header itemFullScreen" style="margin:15px;">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Flight Mode 1
                </div>
                <select>
                    <option selected>Stabilized</option>
                    <option>Auto Land</option>
                    <option>Alt Lock</option>
                    <option>Guided</option>
                    <option>Return Home</option>
                </select>
            </label>

        </div>

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Flight Mode 2
                </div>
                <select>
                    <option>Stabilized</option>
                    <option selected> Auto Land</option>
                    <option>Alt Lock</option>
                    <option>Guided</option>
                    <option>Return Home</option>
                </select>
            </label>


        </div>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Flight Mode 3
                </div>
                <select>
                    <option>Stabilized</option>
                    <option>Auto Land</option>
                    <option selected>Alt Lock</option>
                </select>
            </label>
        </div>
    </ion-content>
    <button class="bar bar-footer bar-positive">Update Controller</button>
</ion-view>