
<ion-tabs class="tabs-icon-top tabs-stable">
  <!-- Picture Settings Tab -->
  <ion-tab title="Picture Settings" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/dash">
    <ion-nav-view name="tab-picture"></ion-nav-view>
  </ion-tab>

    
  <!-- rcController Tab -->
  <!--ion-ios-game-controller-b-->
  <ion-tab title="Rc Settings" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/rc">
    <ion-nav-view name="tab-rc"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-coffee" icon-on="ion-beer" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
